@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    box-sizing: border-box;
    font-family: Perpetua Titling MT, sans-serif !important;
    background: var(--camel-color);
}

:root{
    --dark-sienna-color:#2F0F02;
    --black-bean-color:#421803;
    --french-bistre-color:#796B5D;
    --camel-color:#B99C7E;
    --black-coffee-color:#B99C7E;
}

@font-face {
    font-family:Perpetua Titling MT;
    src: url(../assets/fonts/PERTIBD.TTF);
}

.navbar-brand{
    width:5rem;
    object-fit: cover;
}

.navbar {
    background-color: var(--dark-sienna-color)!important;
    height:5rem;
}

.nav-link{
    color:var(--camel-color)!important;
    width:15rem;
}

.nav-item{
    padding-left:10rem;
}

.nav-item img{
 width:20px;
 margin-left: 35rem;
}

.cart a{
    filter: invert(43%) sepia(32%) saturate(310%) hue-rotate(347deg) brightness(90%) contrast(88%);
    margin-left: -21rem;
    width:0rem;
}

.hero-image{
  width:100vw;
  height: 60vh;
  background-image: url("../assets/contact page/hero-image.jpg");
  background-size: cover;
  padding-left: 99.3vw;
  filter: saturate(50%);
}

.h1{
position: absolute;
margin-top: -30rem;
margin-left:20rem;
font-size: 100px;
color: var(--dark-sienna-color);
}

.footer{
    background-color: var(--dark-sienna-color);
    height:160px;
    margin-top: 10rem;
}

.container-footer{
    display: flex;
    flex-direction: row;
    margin-left:50rem;
}

.collection h3,.blog h3,.contact h3{
    color: var(--camel-color);
    text-decoration: underline;
    padding-top:1rem;
    padding-left:10rem;
}

.list-group{
    list-style-type: none;
    text-align: justify;
    color: var(--camel-color);
    margin-left:10rem;
    width:10rem;
}

.coll-hl{
    border-left: 1px solid var(--camel-color);
    height:8rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 27rem;
}

.blog-hl{
    border-left: 1px solid var(--camel-color);
    height:8rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 45rem;
}
