

body{
    box-sizing: border-box;
    font-family: Perpetua Titling MT, sans-serif;
}

:root{
    --dark-sienna-color:#2F0F02;
    --black-bean-color:#421803;
    --french-bistre-color:#796B5D;
    --camel-color:#B99C7E;
    --black-coffee-color:#B99C7E;
}

@font-face {
    font-family:Perpetua Titling MT;
    src: url(assets/fonts/PERTIBD.TTF);
}

.navbar-brand{
    width:5rem;
}

.navbar, .navbar-expand-lg,.navbar-light,.bg-light {
    background-color: var(--dark-sienna-color)!important;
}

.nav-link{
    color:var(--camel-color)!important;
}

.nav-item{
    padding-left:10rem;
    width:20rem;
    font-size:
}

.shop{
    padding-left:60rem;  
}