@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    font-family: Perpetua Titling MT, sans-serif !important;
}

:root{
    --dark-sienna-color:#2F0F02;
    --black-bean-color:#421803;
    --french-bistre-color:#796B5D;
    --camel-color:#B99C7E;
    --black-coffee-color:#B99C7E;
}

@font-face {
    font-family:Perpetua Titling MT;
    src: url(../assets/fonts/PERTIBD.TTF);
}

.navbar-brand{
    width:5rem;
    object-fit: cover;
}

.navbar {
    background-color: var(--dark-sienna-color)!important;
    height:5rem;
}

.nav-link{
    color:var(--camel-color)!important;
    width:15rem;
}

.nav-item{
    padding-left:3rem;
}

.nav-item img{
 width:20px;
 margin-left: 30rem;
}

.cart a{
    filter: invert(43%) sepia(32%) saturate(310%) hue-rotate(347deg) brightness(90%) contrast(88%);
    width:0rem;
}

span{
    position: absolute;
    margin-left: 32rem;
    margin-top: -1.5rem;
}

.carousel-inner,.carousel-item img{
    object-fit:cover;
    height: 40rem;
    
}

.h1{
    position: absolute;
    margin-top: 32rem;
    margin-left: 45rem;
    z-index: 1;
    font-size: 50px;
    color: rgba(47, 15, 2, 0.5);
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    filter: invert(100%) sepia(44%) saturate(1626%) hue-rotate(345deg) brightness(103%) contrast(103%);
    margin-right:32rem;
}

.carousel-indicators .active{
background-color: var(--black-bean-color);
width:3rem;
}

.header{
    font-size:50px;
    text-align: center;
    color: var(--french-bistre-color);
    margin-top: 3rem;
}

.serve{
    text-align: center;
    margin-top: 3rem;
}

.serve{
    color: var(--french-bistre-color);
    font-size: 50px;
}

.serve-par{
    margin-top: 3rem;
    width:38rem;
    text-align: left;
    font-family:Poor Richard;
    color:var(--french-bistre-color);
    margin-left:41rem;
    font-size: 30px;
}

.toKnow-par{
    margin-top: 3rem;
    width:38rem;
    text-align: left;
    font-family:Poor Richard;
    color:var(--french-bistre-color);
    margin-left:41rem;
    font-size: 30px;
}

.catalogue{
    border: none;
    background-color: var(--camel-color);
    color: var(--black-bean-color);
    padding: 0.5rem;
    padding-left:3rem;
    padding-right:3rem;
    font-size: 18px;
}

.about{
    border: none;
    background-color: var(--camel-color);
    color: var(--black-bean-color);
    padding-left:3rem;
    padding-right:3rem;
    margin-left:12rem;
    margin-top:1rem;
}

.container{
    margin-top:10rem;
    margin-left:20rem;

}

.sub-header{
    font-size: 30px;
    color: var(--french-bistre-color);
    text-decoration: underline;
    position: absolute;
}

.col img{
    width:35rem;
    height:20rem;
    box-shadow: 0px 3px 3px;
}

.col-6 img{
    box-shadow: 0px 3px 3px;
}

.container-collection{
    margin-left: 10rem;
    margin-top: 3rem;
}

.bed,.bedside{
    width:3rem;
    margin-top:1rem;
}

.coffee-table{
    margin-top:1rem;
}

.sofa img{
    width:60rem;
}

.bedside img{
  width:24.5rem;
  height:20rem;
  margin-left: -9.5rem; 
}

.coffee-table img{
    width:60rem;
}

.footer{
    background-color: var(--dark-sienna-color);
    height:160px;
    margin-top: 10rem;
}

.container-footer{
    display: flex;
    flex-direction: row;
    margin-left:25rem;
}

.collection h3,.blog h3,.contact h3{
    color: var(--camel-color);
    text-decoration: underline;
    padding-top:1rem;
    padding-left:10rem;
}

.list-group{
    list-style-type: none;
    text-align: justify;
    color: var(--camel-color);
    margin-left:10rem;
    width:10rem;
}

.coll-hl{
    border-left: 1px solid var(--camel-color);
    height:8rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 27rem;
}

.blog-hl{
    border-left: 1px solid var(--camel-color);
    height:8rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 45rem;
}