@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


body{
    box-sizing: border-box;
    font-family: Perpetua Titling MT, sans-serif !important;
}

:root{
    --dark-sienna-color:#2F0F02;
    --black-bean-color:#421803;
    --french-bistre-color:#796B5D;
    --camel-color:#B99C7E;
    --black-coffee-color:#B99C7E;
}

@font-face {
    font-family:Perpetua Titling MT;
    src: url(../assets/fonts/PERTIBD.TTF);
    font-family:Poor Richard;
    src: url(../assets/fonts/POORICH.TTF);
}

.navbar-brand{
    width:4rem;
}

.navbar {
    background-color: var(--dark-sienna-color)!important;
    height:4rem;

}

.nav-link{
    color:var(--camel-color)!important;
    width:15rem;
}

.nav-item{
    padding-left:10rem;
}

.nav-item img{
 width:20px;
 margin-left: 35rem;
}

.cart a{
    filter: invert(43%) sepia(32%) saturate(310%) hue-rotate(347deg) brightness(90%) contrast(88%);
    margin-left: -21rem;
    width:0rem;
}

.header{
    font-size:50px;
    text-align: center;
    color: var(--french-bistre-color);
    margin-top: 3rem;
}

.container{
    margin-left: 25rem;
}

.row{
    width:100rem;
    margin-top: 5rem;
}

.col img{
    cursor: pointer;
    box-shadow: 3px 3px 6px black;
}

.close{
    margin-left: 48rem;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bolder;
    color: var(--black-coffee-color);
    cursor: pointer;
}

.card{
    position: absolute;
    display: none;
    margin-top: -86rem;
    margin-left: 44rem;
    width: 51rem;
    z-index: 2;
}

.alexia-chair,.jean-chair,.maxime-chair,.oscar-chair,
.caden-coffee,.judy-coffee{
margin-top: -66rem;
}

.bed-two,.bed-three{
    position: absolute;
    display: none;
}

.cost{
    margin-left: -27rem;
}

.card-body{
    display: flex;
}

.card-titel{
    margin-top: -3rem;
    font-size: 25px;
    position: absolute;
}

.card-text{
    font-size: 20px;
    color: var(--french-bistre-color);
    display: flex;
    flex-direction: row;
}

/*
FURNITURE COLOURS
*/
.el-color,.cream-color,.blue-color,.anthracite-color,.lime-color,.vienna-cream-color,
.deep-blue-color,.vienna-Beige-color,.vienna-elephant-color,.vienna-deep-blue-color,
.light-oak-color,.wedge-color,.white-oak-color,.cyrus-light-oak-color,.white-oak-color,
.cyrus-wedge-color,.gamma-wedge-color,.gamma-light-oak-color,.gamma-white-oak-color,
.takka-mahogany-color,.takka-walnut-color,.gamma-light-oak-color,.gamma3-walnut-color,
.gamma3-wedge-color,.gamma3-white-color,.alexia-black-color,.alexia-brown-color,
.jean-antraciet-color,.jean-taupe-color,.maxime-ecru-color,.maxime-lichtgrijs-color,
.oscar-ecru-color,.oscar-lichtgrijs-color,.caden-lightoak-color,.caden-Wenge-color,.alexia-black-color,
.judy-lightoak-color,.judy-Wenge-color{

    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    cursor: pointer;
}

.blue-color{
    background-color: #000080;
}

.el-color{
    background-color: #d3cabb;
}

.cream-color{
    background-color: #e7e5bb;
}

.anthracite-color{
    background-color: #383e42;
}

.lime-color{
    background-color:#6b8f00;
}

.vienna-cream-color{
    background-color:#eddcc2;
}

.deep-blue-color{
    background-color:#072A6C;
}

.vienna-deep-blue-color{
    background-color:#4278AF;
}

.vienna-Beige-color{
    background-color:#d9ad78;
}

.vienna-elephant-color{
    background-color:#8c7c6c;
}

.light-oak-color,.cyrus-light-oak-color,.gamma-light-oak-color,.caden-lightoak-color,
.judy-lightoak-color{
    background-color:#d1af84;
}

.wedge-color,.cyrus-wedge-color,.gamma-wedge-color,.gamma3-wedge-color,.caden-Wenge-color,
.judy-Wenge-color{
    background-color:#271910;
}

.white-oak-color,.gamma-white-oak-color,.gamma3-white-color{
    background-color:#ce9f6f;
}

.takka-mahogany-color{
    background-color:#C04000;
}

.takka-walnut-color,.gamma3-walnut-color{
    background-color: #773f1a;
}

.alexia-black-color{
    background-color: #000000;
}

.alexia-brown-color{
    background-color: #301e0a;
}

.jean-antraciet-color{
    background-color: #383e42;
}

.jean-taupe-color{
    background-color: #483C32;
}

.maxime-ecru-color,.oscar-ecru-color{
    background-color: #C2B280;
}

.maxime-lichtgrijs-color,.oscar-lichtgrijs-color{
    background-color: #d3d3d3;
}




.el-color:hover,.cream-color:hover,.blue-color:hover,.anthracite-color:hover,
.lime-color:hover,.vienna-cream-color:hover,.deep-blue-color:hover,.vienna-Beige-color:hover,
.vienna-elephant-color:hover,.vienna-deep-blue-color:hover,.light-oak-color:hover,
.wedge-color:hover,.white-oak-color:hover.cyrus-light-oak-color:hover,.white-oak-color:hover,
.cyrus-wedge-color:hover,.gamma-wedge-color:hover,.gamma-light-oak-color:hover,.gamma-white-oak-color:hover,
.takka-mahogany-color:hover,.takka-walnut-color,.gamma-white-oak-color:hover,
.gamma3-walnut-color:hover,.gamma3-wedge-color:hover,.gamma3-white-color:hover,
.alexia-black-color:hover,.alexia-brown-color:hover,.jean-antraciet-color:hover,
.jean-taupe-color:hover,.maxime-ecru-color:hover,.maxime-lichtgrijs-color:hover,.oscar-ecru-color:hover,
.oscar-lichtgrijs-color:hover,.judy-lightoak-color:hover,.judy-Wenge-color{
    animation: scaleUp 0.3s 1;
}

@keyframes scaleUp {
    0% {transform: scale(1);}

    100% {transform: scale(1.5);}
}

.el-color,.cream-color,.lime-color,.deep-blue-color,.vienna-deep-blue-color,
.vienna-elephant-color,.wedge-color,.white-oak-color,.cyrus-light-oak-color,.white-oak-color,
.gamma-wedge-color,.takka-walnut-color,.gamma-white-oak-color,.gamma3-wedge-color,
.gamma3-white-color,.alexia-brown-color,.jean-taupe-color,.maxime-lichtgrijs-color,
.oscar-lichtgrijs-color,.caden-Wenge-color,.judy-lightoak-color,.judy-Wenge-color{
    margin-left: 1rem;
}

.el-color,.cream-color,.blue-color{
    z-index: 1;
}

/*
FURNITURE COLOURS
*/

.price{
 margin-top:1rem;
 margin-left:-4rem;
}

.fav-cart{
    position: absolute;
    margin-top: -5rem;
    margin-left: 70rem;
}

.btn, .btn-light{
    background-color: var(--camel-color);
    color: var(--black-bean-color);
    font-size: 20px;
    margin-left: -28rem;
}

.btn:hover, .btn-light:hover{
    background-color: var(--black-bean-color);
    color: var(--camel-color);
}

@keyframes slideright {
    0% {margin-left: -10rem;
    opacity: 0;}

    100% {margin-left: 0rem;
        opacity: 1;}
}

.prod-nav{
    position: relative;
    display: block;
    z-index: 2;
}

.num-nav{
    display: flex;
    flex-direction: row;
    margin-left: 70rem;
    border-radius: 1rem;
    width: 1rem;
}

.num-nav p{
    padding-left: 2rem;
    color: var(--french-bistre-color);
    font-size: 30px;
    margin-top: -0.4rem;
    cursor: pointer;
}

.right-btn,.left-btn{
    height:2rem;
    width:2rem;
    margin-left: 2rem;
    background-color: var(--black-bean-color);
    border: none;
    margin-top: 3rem;
}

.right-btn img{
    width: 2.5rem;
    margin-left: -0.7rem;
    margin-top: -0.4rem;
    filter: invert(43%) sepia(32%) saturate(310%) hue-rotate(347deg) brightness(90%) contrast(88%);
}

.left-btn img{
    width: 2rem;
    margin-left: -0.4rem;
    margin-top: -0.2em;
    filter: invert(43%) sepia(32%) saturate(310%) hue-rotate(347deg) brightness(90%) contrast(88%);
}

.footer{
    background-color: var(--dark-sienna-color);
    height:160px;
    margin-top: 10rem;
}

.container-footer{
    display: flex;
    flex-direction: row;
    margin-left:50rem;
}

.collection h3,.blog h3,.contact h3{
    color: var(--camel-color);
    text-decoration: underline;
    padding-top:1rem;
    padding-left:10rem;
}

.list-group{
    list-style-type: none;
    text-align: justify;
    color: var(--camel-color);
    margin-left:10rem;
    width:10rem;
}

.coll-hl{
    border-left: 1px solid var(--camel-color);
    height:8rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 27rem;
}

.blog-hl{
    border-left: 1px solid var(--camel-color);
    height:8rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 45rem;
}

@keyframes openup {
    0% {transform: scale(0);}

    100% {transform: scale(1);}
}

.exit{
    position: absolute;
    margin-left: 9rem;
    margin-top: -2rem;
    color:var(--dark-sienna-color);
    cursor: pointer;
}

.content-section{
    position: absolute;
    margin-left: 145rem;
    margin-top: -116rem;
    background-color: var(--camel-color);
    padding: 3rem 2.79rem 109.3rem; 
    display: none;
}

.section-header{
    color: var(--french-bistre-color);
    text-align: center;
    text-decoration: underline;
}

.cart-row{
    display: flex;
    flex-direction: column;
}

.btn-purchase{
    margin-left: 0rem;
    margin-top:  2rem;
    border-color: var(--dark-sienna-color);
}

.btn-purchase:hover{
border-color: var(--dark-sienna-color);
}

