@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {box-sizing:border-box}

body{
    font-family: Perpetua Titling MT, sans-serif !important;
}

:root{
    --dark-sienna-color:#2F0F02;
    --black-bean-color:#421803;
    --french-bistre-color:#796B5D;
    --camel-color:#B99C7E;
    --black-coffee-color:#B99C7E;
}

@font-face {
    font-family:Perpetua Titling MT;
    src: url(../assets/fonts/PERTIBD.TTF);
    font-family:Poor Richard;
    src: url(../assets/fonts/POORICH.TTF);
}

.navbar-brand{
    width:4rem;
}

.navbar {
    background-color: var(--dark-sienna-color)!important;
    height:4rem;

}

.nav-link{
    color:var(--camel-color)!important;
    width:15rem;
}

.nav-item{
    padding-left:10rem;
}

.nav-item img{
 width:20px;
 margin-left: 35rem;
}

.cart a{
    filter: invert(43%) sepia(32%) saturate(310%) hue-rotate(347deg) brightness(90%) contrast(88%);
    margin-left: -21rem;
    width:0rem;
}

.header{
    font-size:50px;
    text-align: center;
    color: var(--french-bistre-color);
    margin-top: 3rem;
}

.container{
    margin-left: 25rem;
}

.row{
    width:100rem;
    margin-top: 5rem;
}

.col img{
    cursor: pointer;
    box-shadow: 3px 3px 6px black;
}

.card{
    position: absolute;
    margin-top: -99rem;
    margin-left: 32rem;
    display: none;
}

.close{
    margin-left: 78rem;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bolder;
    color: var(--black-coffee-color);
    cursor: pointer;
}

.bed-two,.bed-three{
    position: absolute;
    display: none;
}

.card-titel{
    margin-top: -3rem;
    font-size: 25px;
    position: absolute;
}

.card-text{
    font-size: 20px;
    color: var(--french-bistre-color);
    display: flex;
    flex-direction: row;
}

.el-color,.cream-color,.blue-color{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    cursor: pointer;
}

.blue-color{
    background-color: #000080;
}

.el-color{
    background-color: #d3cabb;
}

.cream-color{
    background-color: #e7e5bb;
}

.el-color:hover,.cream-color:hover,.blue-color:hover{
    animation: scaleUp 0.3s 1;
}

@keyframes scaleUp {
    0% {transform: scale(1);}

    100% {transform: scale(1.5);}
}

.el-color,.cream-color{
    margin-left: 1rem;
}

.el-color,.cream-color,.blue-color{
    z-index: 1;
}

.price{
 margin-top:2rem;
 margin-left:-4rem;
}

.fav-cart{
    position: absolute;
    margin-top: -5rem;
    margin-left: 70rem;
}

.btn, .btn-light{
    background-color: var(--camel-color);
    color: var(--black-bean-color);
    font-size: 20px;
    margin-left:-1rem;
}

.btn:hover, .btn-light:hover{
    background-color: var(--black-bean-color);
    color: var(--camel-color);
}

@keyframes slideright {
    0% {margin-left: -10rem;
    opacity: 0;}

    100% {margin-left: 0rem;
        opacity: 1;}
}

.prod-nav{
    position: relative;
    display: block;
    z-index: 2;
}

.num-nav{
    display: flex;
    flex-direction: row;
    margin-left: 70rem;
    border-radius: 1rem;
    width: 1rem;
}

.num-nav p{
    padding-left: 2rem;
    color: var(--french-bistre-color);
    font-size: 30px;
    margin-top: -0.4rem;
    cursor: pointer;
}

.right-btn,.left-btn{
    height:2rem;
    width:2rem;
    margin-left: 2rem;
    background-color: var(--black-bean-color);
    border: none;
    margin-top: 3rem;
}

.right-btn img{
    width: 2.5rem;
    margin-left: -0.7rem;
    margin-top: -0.4rem;
    filter: invert(43%) sepia(32%) saturate(310%) hue-rotate(347deg) brightness(90%) contrast(88%);
}

.left-btn img{
    width: 2rem;
    margin-left: -0.4rem;
    margin-top: -0.2em;
    filter: invert(43%) sepia(32%) saturate(310%) hue-rotate(347deg) brightness(90%) contrast(88%);
}

.footer{
    background-color: var(--dark-sienna-color);
    height:160px;
    margin-top: 10rem;
}

.container-footer{
    display: flex;
    flex-direction: row;
    margin-left:50rem;
}

.collection h3,.blog h3,.contact h3{
    color: var(--camel-color);
    text-decoration: underline;
    padding-top:1rem;
    padding-left:10rem;
}

.list-group{
    list-style-type: none;
    text-align: justify;
    color: var(--camel-color);
    margin-left:10rem;
    width:10rem;
}

.coll-hl{
    border-left: 1px solid var(--camel-color);
    height:8rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 27rem;
}

.blog-hl{
    border-left: 1px solid var(--camel-color);
    height:8rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 45rem;
}

@keyframes openup {
    0% {transform: scale(0);}

    100% {transform: scale(1);}
}
